
.DS_Store
build
.git
*.egg-info
dist
output
data/coco
backup
weights/*.weights
__pycache__
checkpoints

ck*

.idea/
checkpoint/
config/yolov3-mini.cfg
config/yolov3-mini.data
data/custom/*
data/yolo_cad_dataset_v1/

logs/
weights/darknet53.conv.74
logs_*
save_*
